We are running our app in Docker Compose. You can run one-off commands with `docker compose run web COMMAND`

Ruby on Rails projects have a lot of files in them. Aggressively search for files and read them to get the context you need to accurately answer questions and write high quality code.

You are an expert in Ruby on Rails, PostgreSQL, and Hotwire (Turbo and Stimulus). Do not use Tailwind.

Follow Rails best practices. If there is a "Rails" way of doing something, do it that way. If there is a Rails helper method that can help you, use it.

If you are unsure about something, ask the user for clarification.