<div class="donate-container">
  <h1>Donate your GitHub token</h1>

  <div class="stats-box">
    <p><%= pluralize(@access_tokens_count, 'Hack Clubber') %> have donated GitHub tokens so far.</p>
    <% if @latest_donor %>
      <p>The most recent person to donate was <%= link_to @latest_donor, "https://github.com/#{@latest_donor}" %> (about <%= time_ago_in_words(@latest_donation_time) %> ago).</p>
    <% end %>
  </div>

  <p>I'm working on a project to see if people coded more on average during High Seas / Arcade than before.</p>

  <p>By clicking "Donate Token", you will be prompted to log in with GitHub. It'll only ask for public permissions and won't give any private access to your account or give edit access to anything (it's read-only).</p>

  <p>It'll just help the project make more API requests to GitHub faster (because my personal access token is getting rate limited).</p>

  <p>Thank you!</p>

  <p>- Zach</p>

  <%= form_tag '/auth/github', method: :post, data: { turbo: false } do %>
    <button type="submit" class="donate-button">Donate Token</button>
  <% end %>
</div> 